# Ignore virtual environments
.venv/
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# Environment files
.env

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db
